# Raw data
data/raw/

# Databases
*.db

# Ignore all CSVs EXCEPT processed ones
*.csv
!data/processed/
!data/processed/*.csv

# Logs
logs/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/


